:root {
  --lightBlack: #202020;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}
.sign-up-form {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  max-width: 500px;
  width: 100%;
}
.details,
.content {
  padding: 2rem;
}
.details {
  flex: 1;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input:focus {
  border-color: #1670be;
  box-shadow: 0 0 3px #1670be;
  outline: none;
}
button {
  width: 100%;
  padding: 10px;
  background-color: var(--lightBlack);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.welcome button {
  background-color: white;
  color: black;
}
.welcome button:hover {
  background-color: whitesmoke;
}
button:hover {
  background-color: #333;
}
.content {
  background-color: var(--lightBlack);
  color: white;
  text-align: center;
}
.welcome > * {
  margin-bottom: 10px;
}
a {
  text-decoration: none;
}
.logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .sign-up-form {
    flex-direction: row;
  }
  .details,
  .content {
    width: 50%;
  }
}
