<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/common.css" />
    <link rel="stylesheet" href="/styles/categoryAdd.css" />
    <title>FlyFlex Inventory System</title>
  </head>
  <body>
    <div class="mainContainer">
      <%- include('../partials/sidebar') %>
      <div class="content">
        <div class="title">
          <p>CREATE CATEGORY</p>
        </div>
        <form action="/category/addCategory" method="POST">
          <div class="top">
            <div class="head">
              <p>Add Thumbnail Photo</p>
            </div>

            <label for="images" class="drop-container" id="dropcontainer">
              <span class="drop-title">Drop files here</span>
              or
              <input type="file" id="images" accept="image/*" name="image" />
              <span class="instruction"
                >1600 x 1200 (4:3) recommended. PNG, JPG and GIF files are
                allowed</span
              >
            </label>
          </div>
          <div class="bottom">
            <div class="information">General Information</div>

            <div class="general-information">
              <div class="informationForm">
                <div class="left">
                  <div class="category-title">
                    <label>Category Title</label>
                    <input
                      type="text"
                      name="categoryTitle"
                      placeholder="Enter Title"
                    />
                  </div>
                  <div class="createdBy-info">
                    <label>Created By</label>
                    <select name="createdBy" id="createdBy">
                      <option value="deafault">Select Creator</option>
                      <option value="admin">Admin</option>
                      <option value="other">Other</option>
                      <option value="selller">Seller</option>
                    </select>
                  </div>
                </div>
                <div class="right">
                  <div class="stock-info">
                    <label>Stock</label>
                    <input type="text" name="stock" placeholder="Quantity" />
                  </div>
                  <div class="date">
                    <label>Publish Date</label>
                    <input type="date" name="publishDate" />
                  </div>
                </div>
              </div>
              <div class="Description">
                <label>Description</label>
                <textarea id="description" name="description"> </textarea>
              </div>
            </div>
          </div>
          <div class="submit">
            <button type="submit">Create Category</button>
            <button>Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
